<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whiteboard.dao.TaskMapper">
  <resultMap id="BaseResultMap" type="com.whiteboard.pojo.Task">
    <id column="task_id" jdbcType="INTEGER" property="taskId" />
    <result column="team_id" jdbcType="INTEGER" property="teamId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="ddl_time" jdbcType="TIMESTAMP" property="ddlTime" />
    <result column="finish_time" jdbcType="TIMESTAMP" property="finishTime" />
    <result column="topic" jdbcType="VARCHAR" property="topic" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="sponsor_id" jdbcType="INTEGER" property="sponsorId" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="priority" jdbcType="INTEGER" property="priority" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from baiban_task
    where task_id = #{taskId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.whiteboard.pojo.Task" useGeneratedKeys="true" keyProperty="taskId">
    insert into baiban_task (task_id, team_id, create_time, update_time,
      ddl_time, topic,
      description, sponsor_id, state, 
      priority)
    values (#{taskId,jdbcType=INTEGER}, #{teamId,jdbcType=INTEGER}, now(), now(),
      #{ddlTime,jdbcType=TIMESTAMP}, #{topic,jdbcType=VARCHAR},
      #{description,jdbcType=VARCHAR}, #{sponsorId,jdbcType=INTEGER}, #{state,jdbcType=INTEGER}, 
      #{priority,jdbcType=INTEGER})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.whiteboard.pojo.Task">
    update baiban_task
    set
    <if test="ddlTime!=null">
      ddl_time = #{ddlTime,jdbcType=TIMESTAMP},
    </if>
    <if test="finishTime!=null">
      finish_time = #{finishTime,jdbcType=TIMESTAMP},
    </if>
    <if test="topic!=null">
      topic = #{topic,jdbcType=VARCHAR},
    </if>
    <if test="description!=null">
      description = #{description,jdbcType=VARCHAR},
    </if>
    <if test="state!=null">
      state = #{state,jdbcType=INTEGER},
    </if>
    <if test="priority!=null">
      priority = #{priority,jdbcType=INTEGER},
    </if>
      update_time = now()
    where task_id = #{taskId,jdbcType=INTEGER}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select task_id, team_id, create_time, ddl_time, finish_time, topic, description, 
    sponsor_id, state, priority
    from baiban_task
    where task_id = #{taskId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select task_id, team_id, create_time, ddl_time, finish_time, topic, description, 
    sponsor_id, state, priority
    from baiban_task
  </select>

  <select id="findByTeamId" resultMap="BaseResultMap">
    select task_id, team_id, create_time, ddl_time, finish_time, topic, description,
    sponsor_id, state, priority
    from baiban_task
    where team_id = #{teamId,jdbcType=INTEGER}
  </select>


  <select id="findByWorkerId" resultMap="BaseResultMap">
    select task_id, team_id, create_time, ddl_time, finish_time, topic, description,
    sponsor_id, state, priority
    from baiban_task
    where task_id in(
        select task_id
        from baiban_user_task
        where uid = (#{uid,jdbcType=INTEGER})
    )
  </select>

  <select id="findBySponsorId" resultMap="BaseResultMap">
    select task_id, team_id, create_time, ddl_time, finish_time, topic, description,
    sponsor_id, state, priority
    from baiban_task
    where sponsor_id = (#{uid,jdbcType=INTEGER})
  </select>
</mapper>