<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whiteboard.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.whiteboard.pojo.User">
    <id column="uid" jdbcType="INTEGER" property="uid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="reg_time" jdbcType="TIMESTAMP" property="regTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="role" jdbcType="TINYINT" property="role" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="team_id" jdbcType="INTEGER" property="teamId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from baiban_user
    where uid = #{uid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.whiteboard.pojo.User">
    insert into baiban_user (uid, username, password, 
      nickname, reg_time, update_time, 
      role, avatar, email, 
      phone, team_id)
    values (#{uid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{nickname,jdbcType=VARCHAR}, now(), now(),
      #{role,jdbcType=TINYINT}, #{avatar,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{teamId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.whiteboard.pojo.User">
    update baiban_user
    set
    <if test="password!=null">
        password = #{password,jdbcType=VARCHAR},
    </if>
    <if test="nickname!=null">
      nickname = #{nickname,jdbcType=VARCHAR},
    </if>
    <if test="role!=null">
      role = #{role,jdbcType=TINYINT},
    </if>
    <if test="avatar!=null">
      avatar = #{avatar,jdbcType=VARCHAR},
    </if>
    <if test="email!=null">
      email = #{email,jdbcType=VARCHAR},
    </if>
    <if test="phone!=null">
      phone = #{phone,jdbcType=VARCHAR},
    </if>
    <if test="teamId!=null">
      team_id = #{teamId,jdbcType=INTEGER},
    </if>
    update_time = now()
    where uid = #{uid,jdbcType=INTEGER}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select uid, username, password, nickname, reg_time, update_time, role, avatar, email, 
    phone, team_id
    from baiban_user
    where uid = #{uid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select uid, username, password, nickname, reg_time, update_time, role, avatar, email, 
    phone, team_id
    from baiban_user
  </select>

  <select id="findByUsername" parameterType="String" resultType="int">
    select count(*)
    from baiban_user
    where username=#{username}
  </select>

  <select id="findByEmail" parameterType="String" resultType="int">
    select count(*)
    from baiban_user
    where email=#{email}
  </select>

  <select id="findByPhone" parameterType="String" resultType="int">
    select count(*)
    from baiban_user
    where phone=#{phone}
  </select>

  <select id="findByUsernameAndPassword" parameterType="map" resultMap="BaseResultMap">
    select uid, username, nickname, reg_time, update_time, role, avatar, email,
    team_id, phone
    from baiban_user
    where username=#{username} and password=#{password}
  </select>

  <select id="findByKeywords" parameterType="map" resultMap="BaseResultMap">
    select uid, username, nickname, reg_time, update_time, role, avatar, email,
    team_id, phone
    from baiban_user
    where username like #{keyword} or
          nickname like #{keyword} or
          email like #{keyword} or
          phone like #{keyword} or
          team_id like #{keyword}
  </select>


</mapper>